body{
    background-size: cover;
    background-image: url(pics/laptop-with-notebook-and-glasses-on-table.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav_title{
    font-size: 25px;
}

#texto{
    position: relative;
    top: 250px;
    left: 100px;
    width: 800px;
}